.about{
    margin-top: 40px;
    padding: 20px;
    width: 80%;
    font-size: 2em;
    text-align: justify;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

